name: chart-neuvector-azure-keyvault pipeline
trigger:
  branches:
    include:
    - refs/tags/*
pr:
  branches:
    include:
    - master
resources:
  repositories:
  - repository: cnp-azuredevops-libraries
    type: github
    name: hmcts/cnp-azuredevops-libraries
    endpoint: 'hmcts'
    ref: 'zr-acr-publish'

jobs:
- job: Validate
  pool:
    vmImage: ubuntu-latest
  steps:
  - template: steps/charts/validate.yaml@cnp-azuredevops-libraries
    parameters :
      chartName: neuvector-azure-keyvault
      chartReleaseName: chart-neuvector-azure-keyvault-ci
      chartNamespace: neuvector
      helmDeleteWait: "10"
      helmInstallWait: "120"
      helmInstallTimeout: "500"
      serviceConnection: "DCD-CFTAPPS-SBOX"
      aksResourceGroup: "cft-sbox-00-rg"
      aksCluster: "cft-sbox-00-aks"

- job: Release
  # Make sure we have a tag to run this job
  condition: >
    and(
        succeeded(),
        startsWith(variables['Build.SourceBranch'], 'refs/tags/')
      )
  dependsOn: Validate
  pool:
    name: hmcts-sandbox-agent-pool
  steps:
  - template: steps/charts/release.yaml@cnp-azuredevops-libraries
    parameters:
      chartName: neuvector-azure-keyvault
      chartReleaseName: chart-neuvector-azure-keyvault
      chartNamespace: neuvector
      serviceConnection: "DCD-CFTAPPS-SBOX"
      aksResourceGroup: "cft-sbox-00-rg"
      aksCluster: "cft-sbox-00-aks"
      acrName: "hmctssandbox"
